<div class="nested-fields">
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, class: "telefone-field" %>
    <%= link_to_remove_association('remover', f)%>
  </div>
</div>
