/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

.sidebar ul li, .navbar-top-links .dropdown-menu li{
  font-size: 12px !important;
}

.page-header{
  font-size: 28px !important;
}

.form-control, .panel-heading, label, td, tr {
  font-size: 13px !important;
}

 .notice-header, .notice-warning {
   margin-top: 12px;
 }

 .notice {
   font-size: 12px;
   border-radius: 3px;
   margin-bottom: -2px;
   padding: 10px 25px 10px 10px;
   border-left: 5px solid #eee;
   border-color: #00733e;
   background-color: #00a65a !important;
   color: white;
   font-size: 12px;
 }

 .notice-warning {
   border-radius: 3px;
   margin-bottom: -2px;
   padding: 10px 25px 10px 10px;
   border-left: 5px solid #eee;
   border-color: #b18708;
   background-color: #daaa19 !important;
   color: white;
 }

 .alert {
   border-radius: 3px;
   margin-top: 12px;
   margin-bottom: -2px;
   padding: 10px 25px 10px 10px;
   border-left: 5px solid #eee;
   border-color: #c9321f;
   background-color: #d73925 !important;
   color: white;
   font-size: 12px;
 }

.show {
  background-color: white !important;
}

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.select2-search input {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.problema_os{
  height: 205px !important;
  max-height: 205px !important;
  min-height: 205px !important;
}

.btn-adicionar{
  margin-right: 8px;
}
