<% if notice.present? %>
  <div class="notice-header">    
    <p class="notice"><%= notice.html_safe %></p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="notice-header">
    <p class="alert"><%= alert.html_safe %></p>
  </div>
<% end %>
